<!DOCTYPE html>
<html>
<head>
    <title>Monitor Report</title>
    <link href="#" rel="#"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <!-- Updated content for displaying user profile details -->
            <img src="{{ user.id_picture.url }}" alt="Profile Picture" height="50" width="50"/>
            <div class="info">
                <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="log-out">
                    <a href="{% url 'logout' %}">
                        <img alt="Sign Out" height="20" src="{% static 'path_to_sign_out_icon.png' %}" width="20"/>
                    </a> 
                </div>
                <div>Year &amp; Section: {{ user.section }}</div>
                <div>Course: {{ user.course }}</div>
                <div>Total Violations: <!-- Add violation count if applicable --></div>
            </div>
        </div>
        <!-- Rest of your original content below -->
        <div class="buttons">
            <a href="{% url 'studentstatus' %}">
                <div class="button">STATUS</div>
            </a>
            <a href="{% url 'studentsettings' %}">
                <div class="button">PASSWORD</div>
            </a>
        </div>
        <div class="section">
            <div class="title">Most Recent Offense:</div>
            <div class="content">
                <div>Offense: mm/dd/yyyy</div>
                <div class="Info">
                    <a href="{% url 'infopopup' %}">
                        <img alt="Warning Icon" height="50" src="#" width="50"/>
                    </a>
                    <div class="text">
                        <div>Sanction: Sanction</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Continue with your additional sections and layout -->
        <div class="submit-button">
            <a href="{% url 'monitorreport' %}">SUBMIT MONITOR REPORT</a>
        </div>
        <!-- Warning and Offenses sections -->
        <div class="warning">
            <a href="{% url 'Infopopup2' %}">
                <img alt="Warning Icon" height="50" src="#" width="50"/>
            </a>
            <div class="text">
                <div>Warning</div>
                <div>You are currently committing your NTH violation. If you receive another violation, you will be subject to a sanction.</div>
            </div>
        </div>
        <div class="offenses">
            <div class="offense">
                <div>Offense:</div>
                <div>Sanction: Date:</div>
                <div>Reported By:</div>
                <a href="{% url 'reportsummarystudent' %}">
                    <div class="view-button">VIEW</div>
                </a>
            </div>
            <!-- Repeat offense structure as needed -->
        </div>
    </div>
</body>
</html>
